<% provide(:title, "ユーザー一覧") %>

<div class="container">
  
  
<h1>
  <%= params[:search].nil? ? "ユーザー一覧" : "検索結果" %>
</h1>

<div class="name-search">
  <p>ユーザー検索</p>
  <%= form_tag( users_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', name: nil %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
      
      <% @users.each do |user| %>
        <tr>
          <% if current_user.admin %>
            <td><%= link_to user.name, user %></td>
          <% else %>
            <td><%= user.name %></td>
          <% end %>
          
          <td class="center"><%= user.department.present? ? user.department : "未設定" %></td>
          
          <% if current_user.admin? %>
            <td class="center"><%= format_basic_info(user.work_time) %></td>
            <td class="center"><%= format_basic_info(user.basic_time) %></td>
          <% end %>
          
          <td class="center">
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "基本情報編集", edit_basic_info_user_path(user), class: "btn btn-success" %>
              <%= link_to "削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
            <% end %>
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>

</div>
