<% provide(:title, "勤怠編集") %>

<h1>勤怠編集</h1>

<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <%= f.fields_for "attendances[]", day do |attendance| %>
          <tr>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td>
              <% if day.worked_on.wday == 0 %>
                <font color="red"><%= $week[day.worked_on.wday] %></font>
              <% elsif day.worked_on.wday == 6 %>
                <font color="blue"><%= $week[day.worked_on.wday] %></font>
              <% else %>
                <%= $week[day.worked_on.wday] %>
              <% end %>
            </td>
            <% if Date.current < day.worked_on %>
                <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
                <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
              <% else %>  
                <td><%= attendance.time_field :started_at, class: "form-control" %></td>
                <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
              <% end %>
              <td><%= attendance.text_field :note, class: "form-control" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="center">
    <%= f.submit "編集を登録", class: "btn btn-primary btn-lg" %>
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-default btn-lg" %>
  </div>

<% end %>
